@import 'https://fonts.googleapis.com/css?family=Crafty+Girls|PT+Serif|Bungee+Hairline';

/*
  =================================
    General
  =================================
*/

body {
  padding-bottom: 90px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.title-container > a > h1 {
  font-size: 8em;
  font-family: 'Crafty Girls', cursive;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 54px;
  font-family: 'PT Serif', serif;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-family: 'PT Serif', serif;
}

.notebook-header > div > h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 30px;
  font-family: 'PT Serif', serif;
}

.panel {
  padding-bottom: 15px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #18bc9c;
}


/*
  =================================
    Landing
  =================================
*/

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.landing > a {
  background: #4267b2;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px;
}

.landing > a:hover {
  background: #365899;
}

.landing > a > span {
  margin-left: 4px;
  font-family: helvetica;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  text-align: center;
  top: 35%;
  width: 100%;
  position: absolute;
}

/*
  =================================
    Nao Input Box
  =================================
*/

.form__nao {
  margin-bottom: 0px;
  text-align: center;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 150px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}


.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.input--nao {
  overflow: hidden;
  padding-top: 1em;
  margin: 0 auto;
}

.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  font-family: 'Bungee+Hairline', cursive;
  font-size: 1.25em;
}

.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
  transition: transform 0.3s 0.1s, color 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

/*
  =================================
    New room
  =================================
*/



.container.new-room {
  padding-left: 40px;
  padding-right: 40px;
}

h2.new-room-title {
  margin-bottom: 40px;
}

.btn.create-room {
  float: right;

}

/*
  =================================
    Lobby
  =================================
*/

.lobby {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.panel-item {
  margin-top: 25px;
  margin-bottom: 10px;
}

/*
  =================================
    Chatbox
  =================================
*/

.chatbox {
  margin: 0 auto;
  width: 100%;
  height: 375px;
  border-radius: 3px;
}

.panel-heading {
  height: 20%;
}

#message-list {
  height: 80%;
  overflow: scroll;
}

.message-picture {
  max-width: 80px;
  height: auto;
  border-radius: 5px;
}

.message-body {
  text-align: left;
}

small.text-muted {
  float: right;
}

/*
  =================================
    LectureTitle
  =================================
*/

.review-header > .lectureTitle {
  display: inline-block;
  text-align: left;
}

.review-date {
  display: inline;
  text-align: right;
  float: right;
}

/*
  =================================
    ParticipantList
  =================================
*/

.participants {
  font-size: 1.3em;
}

.participants i {
  margin-right: 4px;
}

.participant0 {
  color: darkblue;
}

.participant1 {
  color: darkred;
}

.participant2 {
  color: green;
}

.participant3 {
  color: purple;
}

.participant4 {
  color: orange;
}

.participant5 {
  color: lightblue;
}

.participant6 {
  color: pink;
}

.btn-ready {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 4px;
  font-size: 12px;
  vertical-align: middle;
}

/*
  =================================
    Note List
  =================================
*/

.note-list {
}

.pointer {
  height: 1px;
  width: 80px;
  background-color: red;
}

.note {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}


.note > .content {
  margin-left: 15px;
}

.audioTimestamp {
  margin-left: auto;
}

.deleteNoteButton {
  margin-left: 10px;
  background: #d9534f;
  width: 20px;
  height: 21px;
  text-align: center;
  border-radius: 5px;
}

.deleteNoteButton:hover {
  background: #c9302c;
}

.deleteNoteIcon {
  color: white;
}

.audioTimestamp > input[type=number] {
  width: 60px;
}


/*
  =================================
    Note - Review
  =================================
*/

.note > .fa-play-circle {
  cursor: pointer;
  margin-right: 15px;
  font-size: 20px;
}

.review.thought {
  margin-left: 20px;
  font-style: italic;
}

/*
  =================================
    Compile
  =================================
*/

.nav.nav-tabs > li > a:hover {
  cursor: pointer;
}

.note.highlighted.compile {
  background-color: #006687;
  color: white;
  /*border: 1px purple solid;*/
}

/*
  =================================
    My Lectures
  =================================
*/

.notebook-header {
  margin-bottom: 15px;
}

.notebook-entry {
  cursor: pointer;
  transition: opacity 0.2s;
}

.notebook-entry:hover {
  opacity: 0.6;
}

.notebook-icon {
  float: left;
  font-size: 5em;
}

.notebook-topic {
  padding-top: 0.25em;
  padding-left: 5em;
  font-weight: bold;
}

.notebook-lecturer {
  padding-left: 5em;
}

.notebook-class {
  padding-left: 5em;
  font-style: italic;
}

.notebook0 {
  color: rgb(239, 68, 146);
}

.notebook1 {
  color: rgb(255, 146, 67);
}

.notebook2 {
  color: rgb(253, 217, 0);
}

.notebook3 {
  color: rgb(184, 209, 92);
}

.notebook4 {
  color: rgb(12, 188, 227);
}

/*
  =================================
    Footer
  =================================
*/

/*.slideUp {
  animation: slideUp 0.3s ease 0.6s forwards;
  -moz-animation: slideUp 0.3s ease 0.6s forwards;
  -webkit-animation: slideUp 0.3s ease 0.6s forwards;
}*/

@keyframes slideUp {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 0px;
  }
}

.footer {
  background: #f2f2f2;
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  bottom: 0px;
  flex-wrap: wrap;
}

.footer > * {
  min-width: 330px;
}

.lectureForm > * {
  margin: 0 8px;
}

.audioContainer { 
  display: flex; 
  flex: 1; 
  align-items: center;
  justify-content: center;
}

.audioPlayer {
  display: flex;
  flex: 1;
  align-items: center;
}

.audioPlayer > * {
  margin: 0 8px;
}

.waveform {
  flex: 1;
}


input[type=checkbox] {
  margin-right: 10px;
}

.lectureForm {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.lectureInput {
  flex: 1;
  display: inline;
}


input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 50px;
  padding: 0 5px;
}

.insertTimestamp {
  position: absolute;
  right: 8px;
  color: #777;
}

.playButton {

}

.playButton:hover {
  color: #006687;
}



/*
  =================================
    Shareable Link
  =================================
*/
.clipboard {
  display: table;
  font-size: 12px;
}

.shareLink {
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 8px;
    line-height: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    display: table-cell;
}

.buttonCell {
  display: table-cell;
  vertical-align: middle;
}

.copyButton {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-image: linear-gradient(#fcfcfc, #eee);
    color: #333;
    line-height: 20px;
    font-size: 16px;
    padding: 3px 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.copyButton:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.highlighted {
  background-color: 'black';
}


/*
  =================================
    Navbar
  =================================
*/

.navbar {
  border-radius: 0px;
}
