@import 'https://fonts.googleapis.com/css?family=Crafty+Girls|PT+Serif';

/*
  =================================
    General
  =================================
*/

h2 {
  text-align: center;
  font-size: 54px;
  font-family: 'PT Serif', serif;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-family: 'PT Serif', serif;
}

h4 {
  font-size: 30px;
  font-family: 'PT Serif', serif;
}

/*
  =================================
    Landing
  =================================
*/

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.landing > h1 {
  font-size: 4em;
  font-family: 'Crafty Girls', cursive;
}

.landing > a {
  background: #4267b2;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px;
}

.landing > a:hover {
  background: #365899;
}

.landing > a > span {
  margin-left: 4px;
  font-family: helvetica;
}

/*
  =================================
    New room
  =================================
*/

.container.new-room {
  padding-left: 40px;
  padding-right: 40px;
}

h2.new-room-title {
  margin-bottom: 40px;
}

.btn.create-room {
  float: right;

}

/*
  =================================
    Lobby
  =================================
*/

.lobby {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.panel-item {
  margin-top: 25px;
  margin-bottom: 10px;
}

/*
  =================================
    LectureTitle
  =================================
*/


.lectureTitle {
  display: flex;
  justify-content: space-around;
  font-size: 2.8em;
}

.review-header > .lectureTitle {
  display: inline-block;
  text-align: left;
}

.review-date {
  display: inline;
  text-align: right;
  float: right;
}

/*
  =================================
    ChatBox
  =================================
*/

.chatbox {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  border: 1px solid grey;
}

/*
  =================================
    ParticipantList
  =================================
*/

.participants {
  font-size: 1.3em;
}

.participants i {
  margin-right: 4px;
}

.participant0 {
  color: darkblue;
}

.participant1 {
  color: darkred;
}

.participant2 {
  color: green;
}

.participant3 {
  color: purple;
}

.participant4 {
  color: orange;
}

.participant5 {
  color: lightblue;
}

.participant6 {
  color: pink;
}

.btn-ready {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 4px;
  font-size: 12px;
  vertical-align: middle;
}

/*
  =================================
    Note List
  =================================
*/

.note-list {
  padding-left: 15px;
}

.note {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.audioTimestamp {
  margin-left: auto;
}


/*
  =================================
    Note - Review
  =================================
*/

.note > .fa-play-circle {
  cursor: pointer;
  margin-right: 15px;
  font-size: 20px;
}


/*
  =================================
    Shareable Link
  =================================
*/
.clipboard {
  display: table;
  font-size: 12px;
}

.shareLink {
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 8px;
    line-height: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    display: table-cell;
}

.buttonCell {
  display: table-cell;
  vertical-align: middle;
}

.copyButton {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-image: linear-gradient(#fcfcfc, #eee);
    color: #333;
    line-height: 20px;
    font-size: 16px;
    padding: 3px 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.copyButton:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

