@import 'https://fonts.googleapis.com/css?family=Crafty+Girls|Maven+Pro';

/*
  =================================
    General
  =================================
*/

body {
  font-family: 'Maven Pro', sans-serif;
}

div.main > div.page-content {
  padding-top: 90px;
}

.fixed-div {
  position: fixed;
  transform: translateY(0%);
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

a:hover {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 44px;
  font-family: 'Maven Pro', sans-serif;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-family: 'Maven Pro', sans-serif;
}

.notebook-header > div > h2 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 24px;
  font-family: 'Maven Pro', sans-serif;
}

.panel {
  padding-bottom: 15px;
}



.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #18bc9c;
}


/*
  =================================
    Landing
  =================================
*/

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.landing > a {
  background: #4267b2;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px;
}

.landing > a:hover {
  background: #365899;
}

.landing > a > span {
  margin-left: 4px;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  text-align: center;
  top: 28%;
  width: 100%;
  position: absolute;
}

.title-container > a > h1 {
  font-size: 66px;
  font-family: 'Crafty Girls', cursive;
  color: white;
  text-decoration: none;
}

p.landing-para {
  color: white;
  font-size: 18px;
  margin: 0 auto;
  max-width: 617px;
  margin-bottom: 50px;
  text-align: center;
}

hr {
  margin: 34px auto;
  border: 3px solid white;
  max-width: 50px;
  border-radius: 5px;
}

.cover-footer {
  padding: 9px 31px;
  margin: 10px 140px;
  border-radius: 30px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-family: 'Maven Pro', sans-serif;
}

#landing1 {
  height: 350px;
  background-color: #212F3D;
}

#landing1 > h1 {
  color: white;
}

#landing2 {
  background-color: white;
}

#landing2 > h1 {
  color: black;
}

#landing2 > div > div {
  height: 300px;
  padding: 40px 15px 0 15px;
}


.col-md-4 > h5 {
  font-size: 23px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

#landing3 {
  height: 450px;
  background-color: #212F3D;
}

#landing4 {
  height: 120px;
  background-color: #212F3D;
}

.landing-section {
  padding-top: 35px;
}

.landing-subheading {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 42px;
}

/*
  =================================
    Navbar
  =================================
*/

.navbar {
  border-radius: 0px;
}

.thought-panel-bottom {
  padding: 0px;
  position: fixed;
  bottom: 30px;
  width: inherit;
}

.thought-panel-bottom > div.panel-heading:hover {
  cursor: pointer;
}

.panel-body {
  padding: 0px;
}


/*
  =================================
    Nao Input Box
  =================================
*/

.form__nao {
  margin-bottom: 0px;
  text-align: center;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 150px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}


.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.input--nao {
  overflow: hidden;
  padding-top: 1em;
  margin: 0 auto;
}

.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  font-size: 1.25em;
}

.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
  transition: transform 0.3s 0.1s, color 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

/*
  =================================
    New room
  =================================
*/



.container.new-room {
  padding-left: 40px;
  padding-right: 40px;
}

h2.new-room-title {
  margin-bottom: 25px;
}

.btn.create-room {
  float: right;

}

/*
  =================================
    Lobby
  =================================
*/

.lobby {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.lobby > .row {
  margin-top: 20px;
}

.panel-item {
  margin-top: 25px;
  margin-bottom: 10px;
}

/*
  =================================
    Chatbox
  =================================
*/

.chatbox {
  margin: 0 auto;
  width: 100%;
  height: 375px;
  border-radius: 3px;
}

.panel-heading {
  height: 20%;
}

.media-list {
  margin-bottom: 0px;
}

#message-list {
  height: 84%;
  /*overflow: scroll;*/
}

.chatbox > .panel-footer {
  border: 1px solid #dddddd;
}

.message-picture {
  max-width: 80px;
  height: auto;
}

.message-body {
  text-align: left;
}

small.text-muted {
  float: right;
}

/*
  =================================
    Lecture
  =================================
*/

.lecture > .row {
  padding-top: 20px
}

/*
  =================================
    LectureTitle
  =================================
*/

.review-header > .lectureTitle {
  display: inline-block;
  text-align: left;
}

.review-date {
  display: inline;
  text-align: right;
  float: right;
}

/*
  =================================
    ParticipantList
  =================================
*/

.participants {
  font-size: 1.3em;
  max-height: 260px;
  /*overflow: scroll;*/
}

.participants i {
  margin-right: 4px;
}

.participant0 {
  color: darkblue;
}

.participant1 {
  color: darkred;
}

.participant2 {
  color: green;
}

.participant3 {
  color: purple;
}

.participant4 {
  color: orange;
}

.participant5 {
  color: lightblue;
}

.participant6 {
  color: pink;
}

.btn-ready {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 4px;
  font-size: 12px;
  vertical-align: middle;
}

/*
  =================================
    Lecture
  =================================
*/

h4 .LectureTitle .lecture-view-heading {
  padding-top: 0px;
}

/*
  =================================
    Note List
  =================================
*/

.note-list {
  padding-bottom: 30px;

}

.pointer {
  height: 1px;
  width: 80px;
  background-color: red;
}

.note {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}


.note > .content {
  margin-left: 15px;
}

.audioTimestamp {
  margin-left: auto;
}

.deleteNoteButton {
  margin: 0 10px;
  background: #d9534f;
  width: 21px;
  height: 21px;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}

.deleteNoteButton:hover {
  background: #c9302c;
}

.deleteNoteIcon {
  color: white;
  float:right;
}

.audioTimestamp > input[type=number] {
  width: 60px;
}


/*
  =================================
    Note - Review
  =================================
*/

.note > .fa-play-circle {
  cursor: pointer;
  margin-right: 15px;
  font-size: 20px;
}

.review.thought {
  font-style: italic;
  padding: 15px;
}

.review.thought > div.audioDiv {
  text-align: right;
}

.thought-content > div.row > div.col-xs-2 {
  padding-top: 5px;
}

.thought-timestamp {
  font-size: 12px;
}

.deleteNoteIcon2 {
  float: right;
  font-size: 12px;
  color: red;
  cursor: pointer;
}


/*
  =================================
    Compile
  =================================
*/

.nav.nav-tabs > li > a:hover {
  cursor: pointer;
}

.note.highlighted.compile {
  background-color: #006687;
  color: white;
  /*border: 1px purple solid;*/
}

/*
  =================================
    My Lectures
  =================================
*/

.notebook-header {
  margin-bottom: 30px;
}

.searchbar {
  float:right;
}
.navbar {
  padding-top: 15px;
  min-height: 90px;
  font-family: inherit;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.navbar-fixed.navbar-default {
  border: 1px black solid;
}

.navbar-default {
  border: 0px;
}

a > span.navbar-brand {
  font-size: 44px;
  font-color: black;
  font-family: 'Maven Pro', sans-serif;
}

.notebook-entry {
  cursor: pointer;
  opacity: 0.7;
  padding: 10px 10px;
  transition: all .2s ease-in-out;
}

.notebook-entry:hover {
  transform: scale(1.1);
  opacity: 1.0;
}

.notebook-icon {
  float: left;
  font-size: 5em;
}

.notebook-topic {
  color: black;
  padding: 0.1em;
  font-size: 1.5em;
  font-weight: bold;
}

.notebook-lecturer {
  color: black;
  font-size: 1em;
  padding: 0.1em;
}

.notebook-class {
  color: black;
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
  margin-bottom: -0.5em;
  padding-top: 7px;
}

div.w3-card-4 {
  padding: 5px;
}

.notebook0 {
  /*background-color: rgba(239, 68, 146, 0.8);*/
  background-color: rgb(239, 68, 146);
}

.notebook1 {
  /*background-color: rgba(255, 146, 67, 0.8);*/
  background-color: rgb(255, 146, 67);
}

.notebook2 {
  /*background-color: rgba(253, 217, 0, 0.8);*/
  background-color: rgb(253, 217, 0);
}

.notebook3 {
  /*background-color: rgba(184, 209, 92, 0.8);*/
  background-color: rgb(184, 209, 92);
}

.notebook4 {
  /*background-color: rgba(12, 188, 227, 0.8);*/
  background-color: rgb(12, 188, 227);
}

/*
  =================================
    Footer
  =================================
*/

/*.slideUp {
  animation: slideUp 0.3s ease 0.6s forwards;
  -moz-animation: slideUp 0.3s ease 0.6s forwards;
  -webkit-animation: slideUp 0.3s ease 0.6s forwards;
}*/

@keyframes slideUp {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 0px;
  }
}

.footer {
  background: #f2f2f2;
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  bottom: 0px;
  flex-wrap: wrap;
}

.compileFooter {
  height: 50px;
}

.footer > * {
  min-width: 330px;
}

.compileForm > * {
  margin: 0 8px;
}

.audioContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.audioPlayer {
  display: flex;
  flex: 1;
  align-items: center;
}

.audioPlayer > * {
  margin: 0 8px;
}

.waveform {
  flex: 1;
}


input[type=checkbox] {
  margin-right: 10px;
}

.compileForm {
  position: relative;
  display: flex;
  align-items: center;
}

.lectureForm {
  position: relative;
  display: flex;
  align-items: center;
}

.lectureInput, .compileInput {
  flex: 1;
  display: inline;
}


input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 50px;
  padding: 0 5px;
}

.insertTimestamp {
  position: absolute;
  right: 8px;
  color: #777;
}

.playButton {

}

.playButton:hover {
  color: #006687;
}



/*
  =================================
    Shareable Link
  =================================
*/
.clipboard {
  display: table;
  font-size: 12px;
}

.shareLink {
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 8px;
    line-height: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    display: table-cell;
}

.buttonCell {
  display: table-cell;
  vertical-align: middle;
}

.copyButton {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-image: linear-gradient(#fcfcfc, #eee);
    color: #333;
    line-height: 20px;
    font-size: 16px;
    padding: 3px 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.copyButton:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.highlighted {
  background-color: 'black';
}body {
  padding-bottom: 30px;
}

.w3-container {
  /*width: 200px;*/
  word-wrap: break-word;
  /*overflow: hidden;*/
}
