@import 'https://fonts.googleapis.com/css?family=Crafty+Girls|PT+Serif';

/*
  =================================
    General
  =================================
*/

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.title-container > a > h1 {
  font-size: 8em;
  font-family: 'Crafty Girls', cursive;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 54px;
  font-family: 'PT Serif', serif;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-family: 'PT Serif', serif;
}

.notebook-header > div > h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 30px;
  font-family: 'PT Serif', serif;
}

/*
  =================================
    Landing
  =================================
*/

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.landing > a {
  background: #4267b2;
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px;
}

.landing > a:hover {
  background: #365899;
}

.landing > a > span {
  margin-left: 4px;
  font-family: helvetica;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-container .title-container {
  z-index: 1000;
  text-align: center;
  top: 35%;
  width: 100%;
  position: absolute;
}

/*
  =================================
    New room
  =================================
*/

.container.new-room {
  padding-left: 40px;
  padding-right: 40px;
}

h2.new-room-title {
  margin-bottom: 40px;
}

.btn.create-room {
  float: right;

}

/*
  =================================
    Lobby
  =================================
*/

.lobby {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.panel-item {
  margin-top: 25px;
  margin-bottom: 10px;
}

/*
  =================================
    Chatbox
  =================================
*/

.chatbox {
  margin: 0 auto;
  width: 100%;
  height: 375px;
  border-radius: 3px;
}

.panel-heading {
  height: 20%;
}

#message-list {
  height: 80%;
  overflow: scroll;
}

.message-picture {
  max-width: 80px;
  height: auto;
  border-radius: 5px;
}

.message-body {
  text-align: left;
}

small.text-muted {
  float: right;
}

/*
  =================================
    LectureTitle
  =================================
*/

.review-header > .lectureTitle {
  display: inline-block;
  text-align: left;
}

.review-date {
  display: inline;
  text-align: right;
  float: right;
}

/*
  =================================
    ParticipantList
  =================================
*/

.participants {
  font-size: 1.3em;
}

.participants i {
  margin-right: 4px;
}

.participant0 {
  color: darkblue;
}

.participant1 {
  color: darkred;
}

.participant2 {
  color: green;
}

.participant3 {
  color: purple;
}

.participant4 {
  color: orange;
}

.participant5 {
  color: lightblue;
}

.participant6 {
  color: pink;
}

.btn-ready {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 4px;
  font-size: 12px;
  vertical-align: middle;
}

/*
  =================================
    Note List
  =================================
*/

.note-list {
}

.note-list.compiled {
  border-left: 1px solid black
}

.pointer {
  height: 1px;
  width: 80px;
  background-color: red;
}

.note {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}


.note > .content {
  margin-left: 15px;
}

input[type=checkbox] {
  margin-right: 10px;
}

.audioTimestamp {
  margin-left: auto;
}

.deleteNoteButton {
  margin-left: 10px;
  background: #d9534f;
  width: 20px;
  text-align: center;
  border-radius: 5px;
}

.deleteNoteButton:hover {
  background: #c9302c;
}

.deleteNoteIcon {
  color: white;
}


/*
  =================================
    Note - Review
  =================================
*/

.note > .fa-play-circle {
  cursor: pointer;
  margin-right: 15px;
  font-size: 20px;
}

/*
  =================================
    Compile
  =================================
*/

.nav.nav-tabs > li > a:hover {
  cursor: pointer;
}

/*
  =================================
    My Lectures
  =================================
*/

.notebook-header {
  margin-bottom: 15px;
}

.notebook-entry {
  cursor: pointer;
  transition: opacity 0.2s;
}

.notebook-entry:hover {
  opacity: 0.6;
}


/*
  =================================
    Shareable Link
  =================================
*/
.clipboard {
  display: table;
  font-size: 12px;
}

.shareLink {
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 8px;
    line-height: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    display: table-cell;
}

.buttonCell {
  display: table-cell;
  vertical-align: middle;
}

.copyButton {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-image: linear-gradient(#fcfcfc, #eee);
    color: #333;
    line-height: 20px;
    font-size: 16px;
    padding: 3px 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

.copyButton:hover {
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.highlighted {
  background-color: 'black';
}


/*
  =================================
    Navbar
  =================================
*/

.navbar {
  border-radius: 0px;
}